/* Fix icon alignment inside nav item buttons */
#navbar_content ul.navbar-nav li.nav-item a.btn svg {
  margin: 0 0.5rem 0.1rem -0.25rem;
}

/** Hides the first webpart zone */
#DeltaPlaceHolderMain
  > table:first-child
  > tbody
  > tr:first-child
  > td:first-child {
  width: 0%;
}
/** Makes the main webpart zone full width */
#DeltaPlaceHolderMain
  > table:first-child
  > tbody
  > tr:first-child
  > td:last-child {
  width: 100%;
}
/* Hide the default search box */
#DeltaPlaceHolderSearchArea {
  display: none;
}
/* Reset the left margin due to hiding sideNavBox */
#contentBox {
  margin-left: 20px !important;
}
/* Remove the extra top padding on the content row */
#contentRow {
  padding-top: 0 !important;
}
/* S4 Title row*/
#s4-titlerow {
  display: none !important;
}
#sideNavBox {
  display: none !important;
}
.ms-webpartPage-root {
  border-spacing: 0px !important;
  padding-top: 1vh !important;
}

#timelineDiv nav.navbar {
  border: 2px solid #cecece !important;
  margin-bottom: 3vh !important;
  border-radius: 0px 0px 5px 5px;
  background-color: #f5f5f5 !important;
}
/*LEGEND*/
.Legend_Toast {
  position: fixed;
  z-index: 11;
  left: 5%;
  top: 20%;
  font-size: small !important;
  background-color: #fbfbfb !important;
}
/*ITEM CLASS COLOR CODE*/

.dataTables_wrapper {
  margin-top: 2vh !important;
  border: 2px solid #e7e7e7 !important;
  border-radius: 5px;
}
/* Color Codes */
[data-id="Event_Appointment"] g rect {
  fill: #620000 !important;
}
[data-id="Event_Meeting"] g rect {
  fill: #002155 !important;
}
[data-id="Event_School"] g rect {
  fill: #005515 !important;
}
[data-id="Event_Study"] g rect {
  fill: #8e9000 !important;
}
[data-id="Event_Work"] g rect {
  fill: #440055 !important;
}
[data-id="Event_Holiday"] g rect {
  fill: #00a7d1 !important;
}
[data-id="Event_Travel"] g rect {
  fill: #9900ff !important;
}
/*Sets the Max Width for the Gannt Chart*/
div#ganttChart {
  max-width: 1832px !important;
}
.gantt-container {
  position: relative;
  font-size: 12px;
  overflow: scroll !important;
  max-height: 380px !important;
}
.popup-wrapper {
  display: none !important;
}
